@import "tailwindcss";

@theme {
	/* Colors */
	--color-encord-purple: #5e44ff;
	--color-encord-purple-dark: #5a4bd1;

	/* Typography */
	--font-display: "Inter", "sans-serif";

	/* Spacing */
	--spacing-navbar: 1.25rem;

	/* Transitions */
	--ease-default: cubic-bezier(0.3, 0, 0, 1);

	/* Borders */
	--radius-button: 9999px; /* Full rounded for buttons */
	--radius-dropdown: 0.5rem;
}
